.card {
  background-color: white;
  padding-bottom: 100%;
  position: relative;
}
.card__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__hover {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 47, 47, 0.8);
  color: white;
  padding: 20px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.card__title {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
}
.card__subtitle {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.card:hover > .card__hover {
  visibility: visible;
}
.card__description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 12px;
}
