.logo {
  text-transform: uppercase;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 32px;
}

.logo_start {
  color: white;
}
.logo_end {
  color: #627be9;
}
.logo_footer {
  margin-bottom: 30px;
}
